* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
}

header {
  padding: 32px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.intro-chunk {
  max-width: 360px;
  padding: 16px;
  margin-top: 32px;
}

.intro-chunk > h1 {
  margin-bottom: 32px;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  padding: 16px 24px;
  margin: -8px 0 0 -24px;
  max-width: fit-content;
}

section {
  background-color: hsl(0deg, 0%, 60%);
  border-top: 8px solid hsl(0deg, 0%, 40%);
  min-width: 100%;
  padding: 32px;
}

.max-width-wrapper {
  max-width: 720px;
  margin: 0 auto;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  margin: 24px auto;
  padding: 16px;
  max-width: 720px;
}

@media (max-width: 400px) {
  header {
    padding: 0;
  }

  .intro-chunk {
    min-width: 100%;
    margin-top: 0px;
  }

  .max-width-wrapper {
    margin: 0;
    padding: 32px 0;
  }

  .indented-heading {
    line-height: 1.2;
  }
}
